@charset "UTF-8";

h3  {
	border-bottom: 1px solid ;
    width : 700px;
	color:red;
}
.vert{
	color:green;
	background-color: grey;
}
.grovert{
	color:green;
}
a { font-size: 250%; }

.trait{
	border-top: 1px solid #000;
    width : 700px;

}
