@charset "ISO-8859-1";

h2{
	color:red;
}

h4{
	color : green;
	background-color : grey;
}

.grossir{
	font-size : 50px;
}

.justi-droite{
	float: alignmentSide | right;
}

.borderblack{
	border : 1px solid black;
}