<nav>
  <a routerLink="/home" routerLinkActive="active">home</a>
  <a routerLink="/produits" routerLinkActive="active">produits</a>
  <a [routerLink]="['/produits']" routerLinkActive="active">produits</a>
  <a routerLink="/bonjour/olivier" routerLinkActive="active">bonjour</a>
  <a [routerLink]="['/bonjour', title]" routerLinkActive="active"
    >bonjour avec une variable</a
  >
  <a routerLink="/bonjour/{{ title }}" routerLinkActive="active"
    >bonjour avec une variable</a
  >
</nav>
<router-outlet></router-outlet>
