@charset "UTF-8";
h3 {
	color: red;
	
}

h4 {
	color: green;
	background: gray;
	text-align: right;
	text-decoration: overline;
	
}

a:link,a:visited{
  color: blue;
  font-size: 50px;
}


img {
	width: 650px;
	padding: 1px;
	border: 10px solid #021a40;
	border-radius: 50%;
}
hr:last-of-type{
	color: blue;
	width: 100%;
}
