<div>
  <div class="alert alert-danger" *ngIf="authError">
    information incorrectes
  </div>
  <form (ngSubmit)="submit(form)" #form="ngForm">
    <div class="form-group">
      <label>login:</label>
      <input
        id="login"
        name="login"
        class="form-control"
        [(ngModel)]="login"
        required
        #loginCtrl="ngModel"
      />
    </div>
    <div class="form-group">
      <label>mot de passe:</label>
      <input
        type="password"
        name="password"
        class="form-control"
        [(ngModel)]="password"
        #passwordCtrl="ngModel"
        required
      />
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-outline-primary"
        [disabled]="form.invalid"
      >
        enregistrer
      </button>
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="btn btn-outline-warning"
        >annuler</a
      >
    </div>
  </form>
</div>
