<nav>
  <a [routerLink]="['/home']" routerLinkActive="active" class="btn btn-link"
    >home</a
  >
  <ng-container *ngIf="logged">
    <a routerLink="/fournisseur" routerLinkActive="active" class="btn btn-link"
      >fournisseurs</a
    >
    <a routerLink="/produit" routerLinkActive="active" class="btn btn-link"
      >produits</a
    >
    <button (click)="logout()" class="btn btn-link">deconnexion</button>
  </ng-container>
  <ng-container *ngIf="!logged">
    <a routerLink="/login" routerLinkActive="active" class="btn btn-link"
      >connexion</a
    >
    <a routerLink="/inscription" routerLinkActive="active" class="btn btn-link"
      >inscription</a
    >
  </ng-container>
</nav>
