


img.a0{
	position: absolute;
	top:390px;
}
img.a1{
	position: absolute;
	top:100px;
}
img.a2{
	position: absolute;
	top:100px;
}
img.a3{				
	position: absolute;
	top:110px;
	left:30px
}
img.a4{				
	position: absolute;
	top:110px;
	left:100px
}
img.a5{				
	position: absolute;
	top:160px;
	left:90px
}
img.a6{				
	position: absolute;
	top:190px;
	left:85px
}
img.a7{				
	position: absolute;
	top:205px;
	left:50px
}
img.a8{				
	position: absolute;
	top:205px;
	left:120px
}
img.a9{				
	position: absolute;
	top:260px;
	left:85px
}
img.a10{				
	position: absolute;
	top:260px;
	left:115px
}
